* {
    box-sizing: border-box;
}

body {
    color: #000000;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
img{
    width: 800px;
    height: 400px;
    text-align: center;
    margin: auto;
    display: block;
}

.contact {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

.contact-table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
}

.contact-item,
.contact-body {
    padding: 20px;
    border: 1px solid #cccccc;
}

.contact-item {
    text-align: left;
    width: 30%;
    background-color: #d8edff;
}

.contact-body {
    width: 70%;
}

.form-text {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
}

.contact-sex + .contact-sex {
    margin-left: 10px;
}

.contact-sex-txt {
    display: inline-block;
    margin-left: 5px;
}

.form-select {
    width: 180px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-skill {
    display: block;
}

.contact-skill + .contact-skill {
    margin-top: 10px;
}

.contact-skill-txt {
    display: inline-block;
    margin-left: 5px;
}

.form-textarea {
    width: 100%;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact-submit {
    width: 110px;
    background-color: #324444;
    color: #fff;
    font-weight: bold;
    
    font-size: 16px;
    padding: 14px;
    border-radius: 0vh;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    margin-left: 86%;
}
